.navbar {
  font-family: "Andika New Basic";
  font-size: 40px;
  font-weight: 600;

  a:hover {
    color: #10333f !important;
  }
}

.navbar-light .navbar-nav .nav-link {
  color: #1b576b;
  padding-left: 3rem;
}

.selected {
  color: #10333f !important;
}
