@import url("https://fonts.googleapis.com/css?family=Baloo+Paaji+2");
@import url("https://fonts.googleapis.com/css?family=Raleway");
@import url("https://fonts.googleapis.com/css2?family=Andika+New+Basic&display=swap");

@import "./custom";
@import "~bootstrap/scss/bootstrap.scss";
@import "./navbar";
@import "./scrollbar";

.App {
  text-align: center;
  background-color: #f5f5f5;
  font-family: "Raleway";
  min-height: 100vh;
  min-width: 320px;
}

.border-3 {
  border-width: 3px !important;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.paddingTopAndBottomSmall {
  padding-top: 5px;
  padding-bottom: 5px;
}

.paddingTopAndBottomLarge {
  padding-top: 20px;
  padding-bottom: 20px;
}

.paddingBottomLarge {
  padding-bottom: 20px;
}

.padding30 {
  padding: 30px;
}

.marginTopAndBottomLarge {
  margin-top: 20px;
  margin-bottom: 20px;
}

.maintainAspectRatio {
  width: 100%;
  height: auto;
}

/* * {
  border: 1px solid red;
} */
