.App {
  text-align: center;
  background-color: #e0f9fe;
  height: 100vh;
}

.App-header {
  background-color: #9fedde;
  /* min-height: 50px; */
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(50px);
  color: #3295a9;
  text-align: left;
  text-indent: 50px;
  margin: 0px;
  padding: 0px;
}

.App-link {
  color: #09d3ac;
}

.chart {
  /* justify-content: center;
  align-items: center; */
  min-height: 600px;
  min-width: 1000px;
  height: 100% !important;
  width: 100% !important;
}

.inputs-col {
  max-width: 600px !important;
  min-width: 350px;
  justify-content: center;
}

.my-row {
  height: 100%;
}

.my-container {
  height: calc(100vh - 100px);
}

.paddingTopAndBottom {
  padding-top: 3px;
  padding-bottom: 3px;
}

/* * {
  border: 1px solid red;
} */
